{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block beforeMain %}
  <style>
    nav {
      position: fixed;
      z-index: 5;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem;
      background-color: black;
      color: white;
    }
  </style>
  <nav>
    {{ apos.singleton(data.global, 'menu', 'menu') }}
  </nav>
{% endblock %}